<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gif7</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <div class="detailWrapper">
    <h1 class="title"> current GIF: </h1>
    <img class="detailImg" src="{{  url_for('static',filename='images/1.gif')  }}" />
    <a href="{{url_for('home')}}"><button type="button" class="detailBtn"> choose other GIF </button></a>
    </div>
</body>
</html>