<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

</head>
<body>
    <h1 class="title"> choose your gif</h1>
    <div class="imgWrapper"> 
        <a href="{{url_for('gif1')}}"><img class="img" src="{{  url_for('static',filename='images/1.gif')  }}" /></a>
        <a href="{{url_for('gif2')}}"><img class="img" src="{{  url_for('static',filename='images/2.gif')  }}"/></a>
        <a href="{{url_for('gif3')}}"><img class="img" src="{{  url_for('static',filename='images/3.gif')  }}"/></a>
        <a href="{{url_for('gif4')}}"><img class="img" src="{{  url_for('static',filename='images/4.gif')  }}"/></a>
        <a href="{{url_for('gif5')}}"><img class="img" src="{{  url_for('static',filename='images/5.gif')  }}"/></a>
        <a href="{{url_for('gif5')}}"><img class="img" src="{{  url_for('static',filename='images/gif7.gif')  }}"/></a>
        <a href="{{url_for('gif7')}}"><img class="img" src="{{  url_for('static',filename='images/gif6.gif')  }}"/></a>
        <a href="{{url_for('gif1')}}"><img class="img" src="{{  url_for('static',filename='images/gif5.gif')  }}"/></a>
    </div>
</body>
</html>